.form {
    margin: 20px 100px;
}

.form input {
    display: block;
    margin-top: 20px;
    border: 1px solid gray;
    width: 300px;
    padding: 8px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.error {
    color: red;
}